/* Here is Comment */

body {
  background: url(resouces/test.png);
}

.a {
  background: url(resouces/test.png);
}

.b {
  background: url(resouces/test.png);
}

.c {
  background: url(resouces/test.png);
}
